@page
@model HotelBooking.Web.Pages.Rooms.IndexModel
@{
    ViewData["Title"] = "Rooms & Suites";
}

<div class="react-root" style="height: calc(100vh - 80px); min-height: 700px;">
    <div id="rooms-explorer-root" style="height: 100%;"></div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/react/hotel-map.css" asp-append-version="true" />
}

@section Scripts {
    <script type="module" src="~/react/hotel-map.js" asp-append-version="true"></script>
}
